<app-nav></app-nav>
<div class="row mt-2">
    <div class="col s12 xl3">
        <div class="card-user">
            <div class="dflex">
                <img src="https://picsum.photos/100" alt="" class="circle responsive-img mx-auto">
            </div>
            <div class="card-text">
                <p class="name">Hector Lavoe</p>
                <p class="area">Area Transporte</p>
            </div>
            <div class="dflex" style="justify-content: space-around;">
                <button class="btn-circle">
                    <i nz-icon nzType="message" nzTheme="outline"></i>
                </button>
                <button class="btn-circle-2">
                    <i nz-icon nzType="logout" nzTheme="outline"></i>
                </button>
              </div>
        </div>
        <div class="btn-desktop">
            <button
            class="btn"
            (click)="submit()"
            [disabled]="!crudForm.valid"
        >ENVIAR</button>
        </div>
        

    </div>

    <div class="col s12 xl7" [formGroup]="crudForm">
        <div class="step-model">
            <div class="step-number">
                <p class="circle-number">1</p>
            </div>
            <div class="step-body">
                <div class="container">
                    <p>Descripcion de la problematica</p>
                    <hr>
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea" formControlName="des_actual"></textarea>
                        <label for="textarea1">Ingrese Texto</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="vl"></div>
        <div class="step-model">
            <div class="step-number">
                <p class="circle-number">2</p>
            </div>
            <div class="step-body">
                <div class="container">
                    <p>Adjuntar Imagen</p>
                    <hr>
                    
                        <div class="file-field input-field">
                            <div class="btn">
                            <span>ADJUNTAR</span>
                            <input formControlName="img_actual" type="file">
                            </div>
                            <div class="file-path-wrapper">
                            <input  class="file-path validate" type="text">
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
        <div class="vl"></div>
        <div class="step-model">
            <div class="step-number">
                <p class="circle-number">3</p>
            </div>
            <div class="step-body">
                <div class="container">
                    <p>Descripcion posible solucion</p>
                    <hr>
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea" formControlName="des_futura"></textarea>
                        <label for="textarea1">Ingrese Texto</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="vl"></div>
        <div class="step-model">
            <div class="step-number">
                <p class="circle-number">4</p>
            </div>
            <div class="step-body">
                <div class="container">
                    <p>Adjuntar Imagen</p>
                    <hr>
                   
                        <div class="file-field input-field">
                            <div class="btn">
                            <span>ADJUNTAR</span>
                            <input formControlName="img_futura" type="file">
                            </div>
                            <div class="file-path-wrapper">
                            <input  class="file-path validate" type="text">
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="btn-mobile">
        <button
        class="btn"
        (click)="submit()"
    >ENVIAR</button>
    </div>
</div>