<p>login works!</p>
<div class="card">
    <div>
        <p class="titulo">Iniciar Sesion</p>
        <svg width="478" height="300" viewBox="0 0 478 300" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg">
            <path
                d="M222.431 253.604C116.46 337.631 16.3215 288.616 -20.5015 253.604L-26 254.65L-14.5032 -50H524.346C512.85 42.318 745.285 290.079 637.315 210.232C502.352 110.424 354.894 148.571 222.431 253.604Z"
                fill="url(#paint0_linear)" />
            <defs>
                <linearGradient id="paint0_linear" x1="378.5" y1="246.5" x2="8.50001" y2="-3.5"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#8A9BE7" />
                    <stop offset="1" stop-color="#5C70DB" stop-opacity="0.44" />
                </linearGradient>
            </defs>
        </svg>
    </div>
    <div class="card-child">
        <div class="labelForm">
            <p>Usuario</p>
            <input type="text">
        </div>
        <div class="labelForm">
            <p>Contraseña</p>
            <input type="text">
        </div>
        <div class="justify-center">
            <button class="btn">INGRESAR</button>
        </div>
        
    </div>
</div>