
<div class="row mt-2">
        <div class="col s2">
            <div class="card-user">
                <div class="dflex">
                    <img src="https://picsum.photos/100" alt="" class="circle responsive-img mx-auto">
                </div>
                <div>
                    <p>Hector Lavoe</p>
                    <p>Area Transporte</p>
                </div>
                <div>
                    <button class="btn-circle">A</button>
                    <button class="btn-circle-2">B</button>
                </div>
            </div>
    
        </div>
    
        <div class="col s8">
            <div class="step-model">
                <div class="step-number">
                    <p class="circle-number">1</p>
                </div>
                <div class="step-body">
                    <div class="container">
                        <p>Verifique el estado de su sugerencia</p>
                        <hr>
                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Ingrese Texto</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vl"></div>
            <div class="step-model">
                <div class="step-number">
                    <p class="circle-number">2</p>
                </div>
                <div class="step-body-2">
                    <div class="container">
                        <p>Resultado</p>
                        <hr>
                        
                    </div>
                </div>
            </div>
            
            
        </div>

    </div>